.todo-list{


 }
     .todo-list_item{
         padding: 16px;
         border-top:1px solid #ccc;
         border-bottom:1px solid #ccc;
         margin-bottom:-1px;


     }

     .todo-list_item.__not-active{
        display: none;
        content: '';

     }

        .todo-list_item:before,
        .todo-list_item:after{
             content: '';
             clear: both;
             display: block;
         }
         .todo-list_item_ready-marker{
             float: left;
             margin-right: 12px;
         }

         .todo-list_item-text-w{
             overflow: hidden;
             margin-top:4px;

         }

             .todo-list_item-text{
             font-family: 'HelveticaNeueCyr', Arial, sans-serif;
             font-size: 24px;
             font-weight: 300;
             font-style: normal;
             width: 100%;
             height: 28px;
             resize: none;
             border:0;
         }

         .todo-list_item-remove{
             float: right;
             margin-left: 16px;
             visibility: hidden;
             height:18px;
             width:18px;
             background: url("../../../../resources/close.png") no-repeat 0 0;
             border:0;
             margin:12px;
         }
             .todo-list_item-remove:focus{
                 border:0;
             }
             @media (-webkit-min-device-pixel-ratio: 1.5),
                        (min-resolution: 120dpi),
                        (min-resolution: 1.5dppx) {
                             .todo-list_item-remove {
                                 background: url("../../../../resources/close@2x.png") no-repeat 0 0;
                                 width: 34px;
                                 height: 34px;
                                 margin-top: 2px;
                                 margin-left: 8px;
                                 }
                             }

             .todo-list_item:hover .todo-list_item-remove {
                         visibility: visible;
             }